
@import 'fonts';

body{
  background-color: rgba(9, 9, 9, 0.11);
  font-family: Roboto-Regular;
  //font-size: 10px;
}

.song-bird__container{
  & .logo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    padding: 0 20px;
    & h1{
      display: inline-block;
      font-family: LuckiestGuy-Regular;
      color: rgba(0, 0, 255, 0.4);
      & span{
        color: rgba(255, 0, 0, 0.49);
      }
    }

  }
  .bird-classes-tabs{
    & button{
      cursor: auto;
    }
    & .MuiTabs-flexContainer{
      justify-content: space-between;
    }
  }
  .question-card{
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & img{
      height: 150px;
      border-radius: 50%;
      margin-right: 50px;
    }
    .question-audio{
      width: 75%;
      display: flex;
      flex-direction: column;
      & .question-audio-player{
        border: none;
        width: 100%;
      }
    }
  }




}


