
@import 'fonts';

body{
  background-color: rgba(9, 9, 9, 0.11);
  font-family: Roboto-Regular;
  //font-size: 10px;
}

.song-bird__container{
  & .logo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    padding: 0 20px;
    & h1{
      display: inline-block;
      font-family: LuckiestGuy-Regular;
      color: rgba(0, 0, 255, 0.4);
      & span{
        color: rgba(255, 0, 0, 0.49);
      }
    }

  }
  .bird-classes-tabs{
    & button{
      cursor: auto;
    }
    & .MuiTabs-flexContainer{
      justify-content: space-between;
    }
  }
  .question-card{
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & img{
      height: 200px;
      width: 200px;
      border-radius: 50%;
      margin-right: 50px;
    }
    .question-audio{
      width: 75%;
      display: flex;
      flex-direction: column;
      & h1{
        margin-bottom: 0;
      }
      & .question-audio-player{
        border: none;
        width: 100%;
      }
    }
  }

  & .answer-card{
    min-height: 289px;
    padding: 10px;
    & h3{
      margin: 0;
    }
    & .head-block{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      & img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-right: 50px;
      }
      & .answer-audio-player{
        width: 50%;
      }
    }
  }
  & .variant-icon{
    margin-right: 10px;
  }
  & .next-btn{
    width: 100%;
  }


  & .image-transition-enter{
    opacity: 0;
  }
  & .image-transition-enter-active{
    opacity: 1;
    transition: opacity 500ms;
  }
  & .image-transition-exit{
    opacity: 1;
  }
  & .image-transition-exit-active{
    opacity: 0;
    transition: opacity 500ms;
  }

  & .end-game-modal{
    position: absolute;
    top: 10px;
    left: 20px;
  }


}


